.container {
  border: 1px solid transparent;
  background-color: #fff;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 11px 46.44px 7.56px rgba(0, 0, 0, 0.44);
  position: relative;
  border-radius: 50px 50px 50px 50px;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 300px;
  }
}
.container .card_left {
  padding: 0px;
  position: relative;
  height: 600px;
}
.container .card_left .fa {
  font-size: 1.5rem;
  color: #e8e8e8;
  position: absolute;
  top: 25px;
}
.container .card_left .fa:hover {
  color: #f37d3a;
}
.container .card_left .left {
  left: 20px;
}
.container .card_left .right {
  right: 20px;
}
.container .card_left img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px 0px 0px 50px;
}
@media (max-width: 1000px) {
  .container .card_left img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50px 50px 50px 50px;
  }
}
.container .card_right {
  flex: 1 1 50%;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px;
  background: #f7f5f5;
  height: 600px;
  border-radius: 0px 50px 50px 0px;
}
.container .card_right span {
  text-transform: uppercase;
  color: #f37d3a;
  letter-spacing: 1.2px;
  font-size: 0.7rem;
}
.container .card_right h3 {
  font-weight: 500;
  color: #262626;
  font-size: 1.5rem;
  font-style: italic;
}
.container .card_right p {
  font-size: 1rem;
  color: #4f4f4f;
  font-weight: 700;
  padding-top: 90px;
}

.container .card_right .card_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
  padding-top: 50px;
}
.container .card_right .card_footer .price {
  color: rgba(38, 38, 38, 0.59);
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
}

.ItemCount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
