.intro-logo {
  display: flex;
  position: absolute;
  top: 15em;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro-logo h3 {
  font-size: 10rem;
  font-weight: 300;
  font-family: "The Nautigal", cursive;
  color: white;
}

@media (min-width: 575px) {
  .intro-button {
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .intro-button {
    display: flex;
    padding: 0.65em 2.6em;
    background-color: #6d76f7;
    border-radius: 30px;
    transition: all 0.2s ease-out;
    border: 1px solid #ffffff;
    background: transparent;
    color: white;
    font-size: 13px;
    min-width: 170px;
    min-height: 45px;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  .intro-button:hover {
    background-color: #6d76f7;
    color: white;
  }
}