.contact__form__container {
  align-items: center;
  justify-content: center;
}
.contact__text__left {
  text-align: left;
}
.contactForm__input {
  border-radius: 10px;
  margin: 7px;
  border: var(--bc-inputs);
  padding: 0.5rem;
  margin-top: 10px;
}
.contactForm__errContainer {
  height: 10px;
}

.contactForm__errContainer p {
  color: red;
  font-size: smaller;
  font-style: italic;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  text-decoration: none;
  background: var(--btn-hover);
  color: gray;
  border: var(--btn-hover);
  cursor: default;
  margin-top: 15px;
}
