.mainTitle__profile {
  text-align: center;
}

.profile__mainCard {
  background-color: var(--main-color-dark);
  border-radius: var(--br-card);
  border: none;
  width: 20rem;
  margin: 2rem auto;
  border-radius: 1rem;
  border-radius: 20px;
  box-shadow: var(--bs-card);
  -webkit-box-shadow: var(--bs-card);
  -moz-box-shadow: var(--bs-card);
}

.profile__mainCard__headerContainer {
  border-radius: 18px 18px 0 0;
  border: none;
}

.profile__mainCard__title {
  color: var(--main-color-dark);
  background-color: #f1f2f3;
  width: 100%;
  height: 8rem;
  text-align: center;
  height: 15rem;
}

.profile__mainCard__userPicture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 1rem auto 0.5rem;
  color: var(--main-color-dark);
}

.profile__mainCard__title:first-child {
  border-radius: 18px 18px 45px 45px;
}

.profile__mainCard:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.profile__cardsInfo__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card__profileInfo__body {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
}

.profile__infoCard__headerContainer {
  background-color: var(--main-color-dark);
  border-radius: 18px 18px 0 0;
}

.profile__infoCard__title:first-child {
  border-radius: 18px 18px 0px 45px;
}

.profile__infoCard__title {
  color: var(--main-color-dark);
  background-color: var(--main-color-light);
  width: 100%;
  height: 8rem;
}

.profile__infoCard__body {
  background-color: var(--main-color-dark);
  color: var(--brand-color);
}

.profile__infoCard {
  width: 17rem;
  border-radius: var(--br-card);
  border-radius: 20px;
  margin: 2.5vh;
  box-shadow: var(--bs-card);
  -webkit-box-shadow: var(--bs-card);
  -moz-box-shadow: var(--bs-card);
}

.profile__infoCard__footer:last-child {
  border-radius: 0 0 20px 20px;
}

.profile__infoCard__footer {
  background-color: #222831;
  border-top: none;
}

.profile__infoCard:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.profile__infoCard__arrow {
  color: var(--brand-color);
  float: right;
}

.profile__infoCard__arrow:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.profile__form {
  text-align: center;
  margin: 0 auto;
  color: white;
}

.profile__form__label {
  color: #ffbe33;
}

.profile__form__input {
  background-color: #f1f2f3;
  border: none;
  border-radius: 18px;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.profile__form__input:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.profile__loader {
  color: #ffbe33;
}

@media (max-width: 1024px) {
  .profile__infoCard {
    width: 14rem;
    margin: 2vh;
  }
}

@media (max-width: 768px) {
  .profile__cardsInfo__container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .profile__mainCard:hover {
    transform: none;
  }

  .profileCard__info:hover {
    transform: none;
  }
}
