.paginated{
  color: blue;
  font-weight: bold;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin-left: '650px';
  
}


.number{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.7; 

}

.number:focus{
  border: 2px solid green;

}