.shoppinCart__container {
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.productCart__btn {
  margin-right: 5px;
  gap: 5px;
  border-color: transparent;
  background: #999999;
  box-shadow: var(--bs-btn);
  border-radius: 10px;
}

.productCart__btn.productCart__btn:hover {
  border-color: transparent;
  background: var(--main-color-dark);
}

.productCart__btn:focus {
  margin-right: 5px;
  gap: 5px;
  border-color: transparent;
  background: #999999;
  box-shadow: var(--bs-btn);
  border-radius: 10px;
}

.shoppinCart__row {
  align-items: center;
}

.shoppingCart__total__container {
  background-color: var(--main-color-light);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: var(--bs-card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
}

.shoppingCart__h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: var(--main-color-dark);
}

.shoppingCart__h2 span {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 1.5rem;
}

.cartEmpty__container {
  min-height: 70vh;
}

.cartEmpty__text {
  background-color: var(--main-color-light);
  border-radius: 20px;
  box-shadow: var(--bs-btn);
  padding: 2rem;
  max-width: 600px;
  display: inline-block;
}
.cart__discount__container {
  border: #e4e4e4 1px solid;
  border-radius: 15px;
  padding: 20px;
  background-color: #e4e4e4;
}

.cart__discount__container input {
  border-radius: 10px;
  border: var(--bc-inputs);
}

.cart__textarea__container textarea {
  border-radius: 10px;
  border: var(--bc-inputs);
}

.discount__shoppingCart {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.discount__card {
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: var(--main-color-dark);
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}
