.footer__container {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
}

h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
}

.footer__btn__suscribe {
  margin: 5px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #1363df;
  color: var(--main-color-light);
}

a svg {
  color: var(--main-color-light);
  font-size: 2rem;
  padding: 5px;
}

.footer__mail__link {
  text-decoration: none;
  color: #47b5ff;
}

.footer__nav {
  align-items: center;
  flex-direction: column;
}

.footer__newsletter__error {
  color: var(--brand-color);
  font-size: smaller;
  padding-top: 10px;
}

.footer__logo-lema {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
