.search__input {
  border-radius: 20px 0px 0px 20px;
  border: var(--bc-inputs);
  border-right: none;
  outline: none;
}

.search__btn {
  border-radius: 0px 20px 20px 0px;
  background-color: transparent;
  border: var(--bc-inputs);
  border-left: none;
  color: var(--main-color-dark);
  width: 40px;
}

.search__btn svg {
  padding-bottom: 3px;
}

/* esto es para vercel que lo mira por tv */
