.inp{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    left: 10px;
}
.inpE{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    left: 10px;
    border-color: red;
}

.inp1{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    left: 25px;
}
.inp1E{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    left: 25px;
    border-color: red;
}

.inp2{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 15px;
}
.inp2E{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 15px;
    border-color: red;
}

.inp3{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 20px;
}
.inp3E{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 20px;
    border-color: red;
}

.inp4{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 12px;
}
.inp4E{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 12px;
    border-color: red;
}
.inp5{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 12px;
}

.inp5E{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 12px;
    border-color: red;
}
.inp6{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 17px;
}
.inp6E{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    right: 17px;
    border-color: red;
}
.inp7{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    left: 14px;
}
.inp7E{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: relative;
    left: 14px;
    border-color: red;
}

.text{
    font-family: 'Macondo', cursive;
    font-size: large;
    position: relative;
    /* right: 17px; */
}

.btn{
    background-color: #4c5baf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    left: 10px;
    /* top: 20px; */
    font-family: 'Macondo', cursive;
    cursor: pointer;
}
.btn1{
    background-color: #4c5baf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    bottom: 20px;
    font-family: 'Macondo', cursive;
    cursor: pointer;
}

.label{
    position: relative;
    left: 50%;
}

.img{
    width: 100px;
    position: relative;
    left: 600px;
    right: 700px;
}

.select {
    position: relative;
    left: 540px;
    bottom: 50px;
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
   }
   .select::-ms-expand {
    display: none;
   }
   .select:hover {
    border-color: #888;
   }
   .select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
   }
   .select option {
    font-weight:normal;
   }

   .text1{
    font-family: 'Macondo', cursive;
    font-size: large;
    position: relative;
    right: 17px;
    bottom: 30px;
   }

   .error{
    font-family: 'Macondo', cursive;
    font-size: large;
    color: red;
    position: relative;
    left: 50px;
   }