.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  row-gap: 20px;
  column-gap: 100px;
  padding: 35px;
  justify-content: center;
}
