.couponsHome__disabled {
  filter: grayscale(100%);
}

.sectionCupponsHome {
  display: flex;
  margin: 4rem auto 4rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardCuponHome__containerImg {
  margin-right: 20px;
  border: 2px solid var(--brand-color);
  border-radius: 20px;
}
.cardCuponHome__img {
  max-width: 130px;
  height: 130px;
}
.cardCuponHome__cupon {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  max-height: 200px;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
}
.cardCuponHome__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-width: 10rem;
}

.disCursor:hover {
  cursor: default;
}
