.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  margin-top: 0.1rem;
  margin-right: 20px;
  color: rgb(253, 253, 253);
  z-index: 1;
}

.span-cart {
  background-color: #c66;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: rgb(253, 253, 253);
  z-index: 1;
}

.cart-items-count {
  margin-left: 15px;
}