.user_info_container {
  display: flex;
  position: absolute;
  top: 7em;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: white;
}

.user_info_padre {
  position: relative;
  width: 88em;
  height: 48em;
  background-image: radial-gradient(
    circle 674px at 18.3% 77%,
    rgb(26, 67, 117) 3.4%,
    rgba(15, 51, 92, 1) 56.6%
  );
  border-radius: 1.5em;
}

.user_info_btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user_info_btn button {
  color: white;
  border: none;
  font-weight: 600;
  background-color: #00509d;

  border-radius: 2em;
  padding: 2em;
}
.user_info_btn button:hover {
  background-color: #003f88;
  cursor: pointer;
}

.user_info_first_panel {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #252422;
  padding: 2em;

  border-radius: 2em;
}

.user_info_second_panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #252422;
  padding: 2em;

  border-radius: 2em;
}

.user_info_second_panel_inputs {
  display: flex;
  gap: 2em;
}

.user_info_first_panel_inputs {
  display: flex;
  gap: 2em;
}

.user_info_name label {
  position: absolute;
  top: 0.5em;
}
.user_info_surname label {
  position: absolute;
  top: 0.5em;
}

.user_info_name input {
  border: none;
  height: 2.5em;
  width: 22em;
  border-radius: 0.3em;
  padding: 0.3em;
  outline: none;
}
.user_info_name input:hover {
  box-shadow: 0 0 0 0.15vw rgba(153, 226, 255, 0.288);
}
.user_info_name input:focus {
  box-shadow: 0 0 0 0.15vw rgba(153, 226, 255, 0.288);
}

.user_info_surname input {
  border: none;
  height: 2.5em;
  width: 22em;
  border-radius: 0.3em;
  padding: 0.3em;
  outline: none;
}
.user_info_surname input:hover {
  box-shadow: 0 0 0 0.15vw rgba(153, 226, 255, 0.288);
}
.user_info_surname input:focus {
  box-shadow: 0 0 0 0.15vw rgba(153, 226, 255, 0.288);
}
.user_info_btnfp {
  margin-top: 1em;
}

.user_info_btnfp button {
  color: white;
  border: none;
  padding: 0.4em;
  width: 10em;
  height: 4em;
  border-radius: 2em;
  cursor: pointer;
  background-color: #00509d;
}
.user_info_btnfp button:hover {
  background-color: #003f88;
}
