.NavbarItems {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  left: 0;
}
.img-avatar {
  height: 70px;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

li a.active {
  font-weight: bold;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #6568f4;
}
.NavbarItems a {
  text-decoration: none;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 35px;
}

.fa-heart {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
  list-style: none;
  text-align: center;
  width: 55vw;
  justify-content: end;
}

.fa-shopping-cart {
  justify-content: end;
  margin-right: 2rem;
  color: #fff;
  font-size: 25px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}

.nav-links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 530px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .fa-shopping-cart {
    display: flex;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu.active {
    background: transparent;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, 30%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #6568f4;
    transition: 250ms;
  }
}